.global-feed{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.global-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px;
}
.title{
    display: flex;
    flex-direction: column;
}
.title h1{
    font-size: 30px;
    font-weight: 600;
}

.title p{
    font-size: 15px;
    color: var(--gray-500);
}