
.community-page-header{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    position: sticky;
}

.first-row{
    position: absolute;
    right: 10px;
    top: 10px;
    margin-right: 10px;

}

.second-row{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px;
}

.join-button{
    margin-left: auto;
    margin-right: 20px;

}

.leave-icon{
    color: red;
    border-radius: 50%;
    padding: 5px;
}

.leave-icon:hover{
    cursor: pointer;
    background-color: red;
    color: white;
}

