.community-grid{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: stretch;
    justify-content: center;
    gap: 30px;
}
.card-view{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 10px;
}