.community-leave-modal{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
    min-width: 300px;
}

.community-leave-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-icon{
    cursor: pointer;
}
.leave-buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}