.community-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
    padding: 10px;
    height: 100%;
}

.community-header.list {
    gap: 2px;
}

.community-title {
    font-size: 20px;
    font-weight: 600;
    height: 100%;
}

.community-description {
    font-size: 14px;
    color: var(--gray-500);
    height: 100%;
}

.community-stats {
    height: 100%;
    display: flex;
    gap: 5px;
}