.community-join-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 145px;
  background-color: var(--color-blue);
  color: var(--gray-100);
  object-fit: contain;
  cursor: pointer;
  font-weight: 600;
  width: 100%;
}

.community-join-button:hover {
  background-color: var(--hover-blue);
}

.community-join-button.joined {
  color: var(--color-blue);
  background-color: white;
  border: 1px solid var(--color-blue);
  box-shadow: 1px 1px 1px;
}

.community-join-button.joined:hover {
  box-shadow: 1px 1px 5px;
}