.task-card{
    display: flex;
    gap: 20px;
    height: 120px;
    width: 100%;
    border-left: 4px solid var(--color-blue);
    align-items: center;
    border-radius: var(--radius-md);
}

.task-notes-link{
    display: flex;
    gap: 5px;
    color: var(--color-blue);
    cursor: pointer;
}
.task-notes-link img{
    width: 10px;
}

.task-options{
    display: flex;
    gap: 20px;
    margin-left: auto;
    margin-right: 20px;
}

.task-options * {
    cursor: pointer;
}