@import "../../styles/variables.css";
@import "../../styles/globals.css";

.sidebar {
  width: 320px;
  background: #ffffff;
  border-right: 1px solid #e6e6e6;
  padding: 15px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: fixed;
  left: 0;
  top: 0;
}

.sidebar-logo{
  display: flex;
  flex-direction: column;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
  background: #fff;
}

.sidebar-logo h1{
  font-size: 28px;
  font-weight: bold;
}

.sidebar-logo p{
  font-size: 14px;
  color: var(--gray-700);
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
}
.nav-item {
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--gray-700);
  text-decoration: none;
  font-size: 16px;
  padding: 10px;
  border-radius: var(--radius-md);
  transition: 0.2s ease;
  font-weight: 500;
}

.nav-item.active {
  background-color: var(--color-blue);
  color: white;
  font-weight: 600;
}

.nav-item.active:hover {
  background-color: var(--color-blue);
}

.nav-item:hover {
  background-color: var(--gray-100);
}

.profile-card{
  position: relative;
  display: flex;
  gap: 5px;
  align-items: center;
  width: 100%;
  margin-top: auto;
  border: 1px solid var(--border-light);
  padding: 10px;
  border-radius: var(--radius-lg);
  box-shadow: 1px 1px 5px;
  cursor: pointer;
}

.profile-details{
  display: flex;
  flex-direction: column;
}

.profile-name{
  font-size: 18px;
  font-weight: 600;
}

.profile-user-name{
  font-size: 12px;
  font-weight: 500;
}

.profile-more-icon{
  position: absolute;
  right: 10px;
}

.profile-options{
  width: 100%;
  position: absolute;
  top: -60px;
  left: -1px;
  box-shadow: 1px 1px 5px;
  border-radius: var(--radius-md);
  opacity: 0;
  transform: translateY(8px);
  pointer-events: none;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.profile-options.open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.profile-options p{
  height: 40px;
  padding-left: 8px;
  border-radius: var(--radius-sm);
  display: flex;
  align-items: center;
  font-weight: 500;
}
.profile-options p:hover{
  cursor: pointer;
  background-color: var(--gray-200);
}
