.global-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 12px 16px;
  background: #fff;
  border-bottom: 1px solid #e5e7eb;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);

  margin-bottom: 16px;
}

.title{
    display: flex;
    flex-direction: column;
}
.title h1{
    font-size: 30px;
    font-weight: 600;
}

.title p{
    font-size: 15px;
    color: var(--gray-500);
}