/* ================================
   AUTH PAGE LAYOUT
================================ */

.auth-container {
  display: grid;
  grid-template-columns: 1fr minmax(400px, 700px); /* safer than 700px */
  width: 100%;
  height: 100vh;
  gap: 20px;
}

/* LEFT (IMAGE AREA) */
.auth-left {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.auth-left-panel {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  overflow: hidden;
}

.auth-left-panel img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* keeps image clean */
  display: block;
}

/* RIGHT (FORM AREA) */
.auth-right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 40px; /* good spacing */
}

.auth-right-panel {
  width: 400px; /* form max width */
  display: flex;
  flex-direction: column;
  gap: 10px; /* spacing between components */
  
}

.forgot-password{
  font-size: 14px;
  font-weight: 500;
  margin: 5px;
  color: var(--color-blue);
  cursor: pointer;
  text-align: end;
}

.forgot-password:hover{
  text-decoration: underline;
}
