@import "../../styles/variables.css";

.or-divider{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: auto;
    min-width: 320px;
    font-size: 16px;
    font-weight: 500;
    color: var(--gray-500);
}