.back-arrow-button{
    display: flex;
    align-items: center;
    background: transparent;
}

.back-arrow {
    border-radius: 50%;
    padding: 5px;
    margin-right: 20px;
}

.back-arrow:focus{
    outline: none;
}

.back-arrow:hover {
    background-color: var(--gray-200);
}