@import "../../styles/variables.css";

.badge {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  padding: 4px 10px;
  font-size: 12px;
  border-radius: var(--radius-md);
  font-weight: 600;
  margin: 5px;
}

/* Variants */
.default-badge {
  background: var(--gray-100);
  color: var(--gray-500);
}

.transparent-badge{
  background-color: transparent;
  color: var(--gray-500);
}

.white-badge{
  background-color: white;
  color: var(--gray-900);
  margin: 20px;
}

.purple-badge {
  background: rgba(124, 58, 237, 0.15);
  color: var(--color-purple);
}

