@import "../../styles/variables.css";

.btn {
  height: 50px;
  font-size: 15px;
  border-radius: var(--radius-sm);
  cursor: pointer;
  transition: 0.2s ease;
  font-family: var(--font-primary);
}

.notes-button{
  display: flex;
  align-items: center;
  background-color: #eff6ff;
  color: var(--color-blue);
  box-shadow: 0 0 0 0.5px var(--color-blue);
  gap: 10px;
  margin: 0;
  height: 30px;
  width: 100%;
}

.notes-button:hover{
  background-color: #e4f0ff;
}
