@import "../../styles/variables.css";

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

/* hide native checkbox */
.checkbox-container input {
  display: none;
}

/* custom checkbox */
.checkmark {
  width: 30px;
  height: 30px;
  border: 2px solid #999;
  border-radius: 50%;
  position: relative;
  transition: all 0.2s ease;
}

/* checked state */
.checkbox-container input:checked+.checkmark {
  background-color: var(--color-blue);
  border-color: var(--color-blue);
}

.checkbox-container input:checked+.checkmark::after {
  content: "";
  position: absolute;
  left: 8px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.checkbox-container input:disabled + .checkmark {
  cursor: not-allowed;
  opacity: 0.6;
}
