@import "../../styles/variables.css";

.input-wrapper{
  position: relative;
  width: 100%;
}

/* Base Input */
.input {
  width: 100%;
  padding: 12px;
  padding-right: 50px;
  font-size: 15px;
  border: 1px solid var(--gray-200);
  border-radius: var(--radius-sm);
  font-family: var(--font-primary);
  transition: border var(--fast), box-shadow var(--fast);
  margin: 5px;
}

.input:focus {
  border-color: var(--color-blue);
  box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.15);
  outline: none;
}

.input-icon{
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  cursor: pointer;
}


/* Search Input */
.search-input {
  border-radius: var(--radius-lg);
  background-color: var(--gray-100);
  padding-left: 40px; /* for icon spacing */
}

/* Title Input (for Create Post) */
.title-input {
  font-size: 20px;
  font-weight: 600;
  border: none;
  outline: none;
  padding: 0;
  margin-bottom: 10px;
}

/* Notes Editor Input */
.notes-input {
  font-size: 16px;
  border-left: 3px solid var(--color-blue);
  background-color: var(--gray-50);
}

/* Error Input */
.error-input {
  border-color: #e03131;
}
