@import "../../styles/variables.css";

/* Overlay */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: var(--z-modal);
  animation: fadeIn 0.2s ease;
}

/* Modal Base */
.modal {
  background: white;
  border-radius: var(--radius-lg);
  padding: 24px;
  width: 420px;
  height: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 90%;
  box-shadow: var(--shadow-card);
  animation: slideUp 0.25s ease;
  overflow-y: auto;
}

/* ---- classNameS ---- */

/* Larger modal */
.large-modal {
  width: 520px;
  padding: 10px 30px;
}

/* Small modal */
.small-modal {
  width: 300px;
  
}
