@import "../../styles/variables.css";

.tabs {
  display: flex;
  gap: 28px;
}

.tab-item {
  background: none;
  border: none;
  padding: 0 14px;
  font-size: 15px;
  font-weight: 500;
  color: var(--color-blue);
  /* for blue header */
  cursor: pointer;
  position: relative;
}

.tab-item:hover {
  color: var(--color-blue);
}

.tab-item.active {
  color: var(--color-blue);
}

.tab-item.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 2px;
  background: var(--color-blue);
  border-radius: 2px;
}