.profile-header{
    display: flex;
    margin: 15px 0 30px 20px;
    gap: 5px;
}

.profile-page-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-name{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}
.user-name h2{
    font-weight: 600;
    font-size: 30px;
}

.user-name p{
    font-weight: 400;
    font-size: 14px;
    margin-top: -5px;
}

.user-bio{
    display: flex;
    flex-wrap: wrap;
    min-width: 300px;
    padding-left: 10px; 
}

.profile-stats{
    display: flex;
}