.comment-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-header img{
  width: 30px;
  cursor: pointer;
}

.comments-list {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 10px;
}

.comment-item {
  border-bottom: 1px solid #eee;
  padding: 8px 0;
}

.comment-item .name {
  font-weight: bold;
  margin-bottom: 2px;
}

.comment-item .name span {
  font-weight: normal;
  opacity: 0.6;
  margin-left: 6px;
}

.text {
  margin-left: 4px;
}

.comment-input-container {
  width: 100%;
  padding-top: 10px;
  border-top: 1px solid #eee;
}

.comment-input-container form {
  display: flex;
  align-items: center;
  gap: 10px;
}


