.createpost-modal{
    width: 50%;
    max-height: 900px;
}

.createpost-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.createpost-header img{
  width: 30px;
  cursor: pointer;
}

.createpost-form form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.createpost-select{
    width: 100%;
}
.community-input{
    display: flex;
    flex-direction: column;
}

label{
    margin: 0 10px;
}

.createpost-upload{
    display: flex;
    flex-direction: column;
}

.createpost-upload-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 200px;
    background-color: white;
    border: 1px solid var(--color-blue);
}
.createpost-upload-button img{
    width: 16px;
}

.createpost-submit-button{
    background: var(--color-blue);
    color: white;

}

.createpost-submit-button:hover{
    background: var(--hover-blue);
    cursor: pointer;
}

.images-add-msg{
    color: green;
    text-align: center;
}