.post-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    padding: 15px;
    gap: 20px;
    border-top: 1px solid var(--gray-100);
    width: 100%;
}

.post-footer-icon{
    width: 25px;
    cursor: pointer;
}

.left, .right{
    display: flex;
    gap: 30px;
    
}

.likes, .comments{
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--gray-500);
    font-size: 14px;
    gap: 5px;
    width: 40px;
}