.post-body {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 10px;
    width: 100%;
    height: auto;
    margin: 5px;
    gap: 15px;
}

.post-heading {
    font-size: 18px;
    font-weight: 500;
}

.post-content {
    font-size: 15px;
    color: var(--gray-700);

}

.post-images {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.post-image {
    width: auto;
    height: 300px;
}

.notes-link-text {
    font-weight: 500;
    font-size: 14px;
}

.notes-button img {
    width: 16px;
}