.post-header{
    display: flex;
    gap: 5px;
    margin: 5px;
    width: 100%;

}

.post-header-details{
    display: flex;
    flex-direction: column;
}

.post-user-details{
    display: flex;
    align-items: center;
    padding-top: 10px;
    gap: 10px;
}

.post-user{
    font-size: 16px;
    font-weight: 500;
}

.post-time{
    color: var(--gray-500);
    font-size: 12px;
}

.post-header-badges{
    display: flex;
    justify-content: center;
    align-items: center;
}